workflow.json
{
  "name": "AI News Aggregator",
  "nodes": [
    {
      "name": "Schedule Trigger (daily)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days"
            }
          ]
        }
      }
    },
    {
      "name": "Init DB & Get Existing Links",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        200,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS ai_news_queue ( \n  link TEXT PRIMARY KEY, \n  company TEXT, \n  title TEXT, \n  ai_summary TEXT, \n  status VARCHAR(20) DEFAULT 'pending', \n  created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP \n); \n\nSELECT link FROM ai_news_queue;"
      },
      "credentials": {
        "postgres": {
          "id": "zdmSZhJPgnAdWsoT",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "name": "Fetch & Parse RSS Feeds",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        200
      ],
      "parameters": {
        "jsCode": "const R = 'https://diygodrsshubchromium-bundled-production-4500.up.railway.app'; \nconst feeds = [ \n  { url: 'https://openai.com/news/rss.xml', company: 'OpenAI' }, \n  { url: 'https://deepmind.google/blog/rss.xml', company: 'Google DeepMind' }, \n  { url: 'https://huggingface.co/blog/feed.xml', company: 'Hugging Face' }, \n  { url: 'https://blog.langchain.dev/rss/', company: 'LangChain' }, \n  { url: 'https://cursor.com/rss.xml', company: 'Cursor' }, \n  { url: 'https://stability.ai/news?format=rss', company: 'Stability AI' }, \n  { url: 'https://blog.replit.com/feed.xml', company: 'Replit' }, \n  { url: 'https://github.com/anthropics/anthropic-sdk-python/releases.atom', company: 'Anthropic' }, \n  { url: 'https://github.com/ollama/ollama/releases.atom', company: 'Ollama' }, \n  { url: 'https://github.com/facebookresearch/llama/releases.atom', company: 'Meta AI' }, \n  { url: 'https://github.com/deepseek-ai/DeepSeek-V3/releases.atom', company: 'DeepSeek' }, \n  { url: 'https://github.com/QwenLM/qwen-code/releases.atom', company: 'Qwen' }, \n  { url: 'https://github.com/mistralai/client-python/releases.atom', company: 'Mistral AI' }, \n  { url: 'https://github.com/xai-org/grok-build/releases.atom', company: 'xAI' }, \n  { url: 'https://github.com/huggingface/transformers/releases.atom', company: 'Hugging Face' }, \n  { url: R + '/twitter/user/OpenAI', company: 'OpenAI' }, \n  { url: R + '/twitter/user/AnthropicAI', company: 'Anthropic' }, \n  { url: R + '/twitter/user/GoogleDeepMind', company: 'Google DeepMind' }, \n  { url: R + '/twitter/user/HuggingFace', company: 'Hugging Face' }, \n  { url: R + '/twitter/user/MistralAI', company: 'Mistral AI' }, \n  { url: R + '/twitter/user/GroqInc', company: 'Groq' } \n];\n\nconst existingLinksInput = $('Init DB & Get Existing Links').all();\nconst existingLinks = new Set(\n  existingLinksInput\n    .map(item => item.json.link)\n    .filter(link => link)\n    .map(link => String(link).trim().toLowerCase())\n);\n\nconst regexCache = {};\nconst cdataRegex = /<!\\[CDATA\\[([\\s\\S]*?)\\]\\]>/g;\n\n// XML Parser helper\nfunction getTagValue(xml, tag) {\n  if (!regexCache[tag]) {\n    regexCache[tag] = new RegExp(`<${tag}[^>]*>([\\\\s\\\\S]*?)</${tag}>`, 'i');\n  }\n  const match = xml.match(regexCache[tag]);\n  if (match) {\n    return match[1].replace(cdataRegex, '$1').trim();\n  }\n  return null;\n}\n\nfunction cleanHtml(str) {\n  if (!str) return '';\n  return str.replace(/<[^>]*>/g, '').replace(/&[a-z]+;/gi, ' ').trim();\n}\n\nasync function fetchFeed(feed) {\n  try {\n    const res = await fetch(feed.url, { timeout: 15000 });\n    if (!res.ok) return [];\n    const text = await res.text();\n    \n    // Naive split by item or entry\n    let blocks = text.split(/<item>|<entry>/i).slice(1); // skip header\n    \n    const items = [];\n    for (let i = 0; i < Math.min(blocks.length, 5); i++) {\n      const block = blocks[i];\n      let title = getTagValue(block, 'title') || '';\n      let link = getTagValue(block, 'link') || '';\n      // handle <link href=\"...\"/> in Atom\n      if (!link) {\n        const linkMatch = block.match(/<link[^>]+href=[\"']([^\"']+)[\"']/i);\n        if (linkMatch) link = linkMatch[1];\n      }\n      let content = getTagValue(block, 'description') || getTagValue(block, 'content') || getTagValue(block, 'summary') || '';\n      let pubDate = getTagValue(block, 'pubDate') || getTagValue(block, 'updated') || getTagValue(block, 'published') || '';\n      \n      link = link.trim();\n      if (!link || link.length < 5) continue;\n      \n      const cleanLink = link.toLowerCase();\n      if (existingLinks.has(cleanLink)) continue;\n      \n      items.push({\n        title: cleanHtml(title),\n        link: link,\n        content: cleanHtml(content).substring(0, 300),\n        pubDate: pubDate,\n        company: feed.company,\n        timestamp: new Date(pubDate || new Date()).getTime()\n      });\n    }\n    return items;\n  } catch(e) {\n    return [];\n  }\n}\n\nconst BATCH = 5;\nconst DELAY = 800;\nlet allItems = [];\n\nfor (let i = 0; i < feeds.length; i += BATCH) {\n  const batch = feeds.slice(i, i + BATCH);\n  const results = await Promise.allSettled(batch.map(feed => fetchFeed(feed)));\n  for (const res of results) {\n    if (res.status === 'fulfilled') {\n      allItems.push(...res.value);\n    }\n  }\n  if (i + BATCH < feeds.length) {\n    await new Promise(r => setTimeout(r, DELAY));\n  }\n}\n\n// Sort by date (newest first)\nallItems.sort((a, b) => b.timestamp - a.timestamp);\n\n// Deduplicate by link\nconst seen = new Set();\nconst finalItems = [];\nfor (const item of allItems) {\n  const cl = item.link.toLowerCase();\n  if (!seen.has(cl)) {\n    seen.add(cl);\n    finalItems.push({\n      json: {\n        link: item.link,\n        company: item.company,\n        title: item.title,\n        content: item.content,\n        pubDate: item.pubDate\n      }\n    });\n  }\n}\n\nreturn finalItems;"
      },
      "continueOnFail": true
    },
    {
      "name": "Jina AI Full Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        600,
        200
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://r.jina.ai/' + $json.link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 5000,
          "timeout": 30000
        }
      },
      "continueOnFail": true
    },
    {
      "name": "Merge: Jina Response + Original RSS Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        200
      ],
      "parameters": {
        "jsCode": "const rssItems = $('Fetch & Parse RSS Feeds').all(); \nconst jinaItems = $input.all(); \nreturn jinaItems.map((item, i) => { \n  const rss = rssItems[i] ? rssItems[i].json : {}; \n  const jina = item.json; \n  let jinaContent = ''; \n  if (jina.data && jina.data.content) { \n    jinaContent = String(jina.data.content).substring(0, 3000); \n  } \n  return { \n    json: { \n      link: String(rss.link || '').trim(), \n      company: rss.company || 'Unknown', \n      title: String(rss.title || '').trim(), \n      pubDate: rss.pubDate || '', \n      rss_content: String(rss.content || '').substring(0, 500), \n      jina_content: jinaContent \n    } \n  }; \n});"
      },
      "continueOnFail": true
    },
    {
      "name": "AI Summarize via DeepSeek",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "jsCode": "const mergedItems = $input.all();\nconst SYSTEM_PROMPT = `شما خبرنگار تخصصی هوش مصنوعی هستید. خبر را در ۱ الی ۳ خط به فارسی روان خلاصه کنید. \n \nقوانین حیاتی: \n۱. ابتدا تشخیص دهید موضوع خبر چیست و یک کلمه فارسی مناسب در ابتدای جمله بگذارید: \n   - شرکت/سازمان: \"شرکت\" \n   - مدل هوش مصنوعی: \"مدل\" \n   - ابزار/پلتفرم: \"پلتفرم\" \n   - ایجنت: \"ایجنت\" \n   - فریمورک/کتابخانه: \"فریمورک\" \n   - پژوهش: \"پژوهش\" \n   - محصول: \"محصول\" \n۲. ایموجی مرتبط در ابتدای جمله. \n۳. نام شرکت‌ها و مدل‌ها را در تگ <code> قرار دهید. \n۴. فقط از تگ‌های HTML مجاز تلگرام (<b>, <i>, <code>, <a>) استفاده کنید. \n۵. هشتگ فارسی مرتبط در انتها بزنید. \n۶. اگر خبر بی‌اهمیت است فقط بنویسید: SKIP \n۷. فقط خلاصه خبر، بدون توضیح اضافه.`;\n\nasync function getSummary(itemJson) {\n  const body = JSON.stringify({\n    model: 'deepseek-v4-flash',\n    messages: [\n      { role: 'system', content: SYSTEM_PROMPT },\n      { role: 'user', content: `Company: ${itemJson.company}\\nTitle: ${itemJson.title}\\nContent: ${itemJson.jina_content || itemJson.rss_content}` }\n    ],\n    temperature: 0.2\n  });\n\n  try {\n    const res = await fetch('https://api.gapgpt.app/v1/chat/completions', {\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'Authorization': 'Bearer sk-mWwh3PFftshR4DtuWGDD4Rk7MegNtoe595gpLnP46cGUrOiH'\n      },\n      body: body,\n      timeout: 30000\n    });\n    \n    if (!res.ok) return '';\n    const data = await res.json();\n    return data.choices?.[0]?.message?.content || '';\n  } catch(e) {\n    return '';\n  }\n}\n\nconst BATCH = 5;\nconst DELAY = 800;\nconst results = [];\n\nfor (let i = 0; i < mergedItems.length; i += BATCH) {\n  const batch = mergedItems.slice(i, i + BATCH);\n  const promises = batch.map(async (item) => {\n    let summary = await getSummary(item.json);\n    \n    if (summary.includes('SKIP') || summary.trim() === '') {\n      return null;\n    }\n    \n    // Clean summary\n    summary = summary\n      .replace(/<(?!(?:\\/?b|\\/?i|\\/?code|\\/?a)(?:>|\\s+[^>]*>))[^>]*>/gi, '') // strip any HTML except allowed\n      .replace(/\\*\\*/g, '')           // strip markdown bold \n      .replace(/```[\\s\\S]*?```/g, '') // strip code blocks \n      .replace(/\\n{2,}/g, '\\n')       // collapse multiple newlines \n      .trim();\n      \n    return {\n      json: {\n        link: item.json.link,\n        company: item.json.company,\n        title: item.json.title,\n        ai_summary: summary\n      }\n    };\n  });\n  \n  const batchRes = await Promise.allSettled(promises);\n  for (const r of batchRes) {\n    if (r.status === 'fulfilled' && r.value !== null) {\n      results.push(r.value);\n    }\n  }\n  \n  if (i + BATCH < mergedItems.length) {\n    await new Promise(r => setTimeout(r, DELAY));\n  }\n}\n\nreturn results;"
      },
      "continueOnFail": true
    },
    {
      "name": "Validate & Clean Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "jsCode": "return $input.all().filter(item => {\n  const j = item.json;\n  return j.link && j.link.length > 5 && j.ai_summary && j.ai_summary.length > 10;\n});"
      },
      "continueOnFail": true
    },
    {
      "name": "Save to DB as 'pending'",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ `INSERT INTO ai_news_queue (link, company, title, ai_summary, status) VALUES ('${$json.link.replace(/'/g, \"''\")}', '${$json.company.replace(/'/g, \"''\")}', '${$json.title.replace(/'/g, \"''\")}', '${$json.ai_summary.replace(/'/g, \"''\")}', 'pending') ON CONFLICT (link) DO NOTHING;` }}"
      },
      "credentials": {
        "postgres": {
          "id": "zdmSZhJPgnAdWsoT",
          "name": "Postgres account"
        }
      }
    },
    {
      "name": "Schedule Trigger (every 2h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        500
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      }
    },
    {
      "name": "Get 1 Pending News",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        200,
        500
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM ai_news_queue WHERE status = 'pending' ORDER BY created_at ASC LIMIT 1;"
      },
      "credentials": {
        "postgres": {
          "id": "zdmSZhJPgnAdWsoT",
          "name": "Postgres account"
        }
      },
      "continueOnFail": true
    },
    {
      "name": "IF has result",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        500
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.link }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "continueOnFail": true
    },
    {
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        400
      ],
      "parameters": {
        "chatId": "-1002176426998",
        "text": "={{ $json.ai_summary }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "telegram_api_credentials",
          "name": "Telegram account"
        }
      },
      "continueOnFail": true
    },
    {
      "name": "Mark as 'published'",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        800,
        400
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ `UPDATE ai_news_queue SET status = 'published' WHERE link = '${$json.link.replace(/'/g, \"''\")}';` }}"
      },
      "credentials": {
        "postgres": {
          "id": "zdmSZhJPgnAdWsoT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger (daily)": {
      "main": [
        [
          {
            "node": "Init DB & Get Existing Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init DB & Get Existing Links": {
      "main": [
        [
          {
            "node": "Fetch & Parse RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch & Parse RSS Feeds": {
      "main": [
        [
          {
            "node": "Jina AI Full Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jina AI Full Text": {
      "main": [
        [
          {
            "node": "Merge: Jina Response + Original RSS Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: Jina Response + Original RSS Data": {
      "main": [
        [
          {
            "node": "AI Summarize via DeepSeek",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Summarize via DeepSeek": {
      "main": [
        [
          {
            "node": "Validate & Clean Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Clean Results": {
      "main": [
        [
          {
            "node": "Save to DB as 'pending'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (every 2h)": {
      "main": [
        [
          {
            "node": "Get 1 Pending News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get 1 Pending News": {
      "main": [
        [
          {
            "node": "IF has result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF has result": {
      "main": [
        [
          {
            "node": "Send to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Telegram": {
      "main": [
        [
          {
            "node": "Mark as 'published'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
